<form action="<%= track_url %>" method="post">
 <input type="hidden" name="_method" value="patch">
  <input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">

  <label for="track[title]">Title</label> <br>
  <input type="text" name="track[title]" value=" <%=@track.title %>"><br>

  <label for="track[ord]">Track Number</label><br>
  <input type="number" name="track[ord]" value="<%= @track.ord %>"><br>

  <label for="">Bonus</label>
  <input type="radio" name="track[bonus]" value="bonus" <%= "checked" if @track.bonus == "bonus"  %>   >
  <label for="">Regular</label>
  <input type="radio" name="track[bonus]" value="regular" <%= "checked" if @track.bonus == "regular"  %>><br>

  <select name="track[album_id]">
    <%@albums.each do |album| %>
    <option value="<%= album.id %>" <%="selected" if @track.album_id == album.id  %> ><%= album.title + "- " + album.band.name %></option>
    <% end %>
  </select> <br>

  <label for="track[lyrics]">Lyrics</label><br>
  <input type="textarea" name="track[lyrics]" value=" <%= @track.lyrics %> "><br>

  <input type="submit" name="" value="Edit track">
</form>
